@page "/fetchshowdata"
@inject HttpClient Http

<h1>Recommended Shows</h1>

@if (showDates == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Artists</th>
                <th>Venue</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var showDate in showDates)
            {
                @foreach (var show in showDate.Shows)
                {
                    <tr>
                        <td>@showDate.Date.ToString("D")</td>
                        <td>
                            <ul>
                                @foreach (var artist in show.Artists)
                                {
                                    <li>@artist.Name</li>
                                }
                            </ul>
                        </td>
                        <td>@show.Venue</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@functions {
    ShowDate[] showDates;

    protected override async Task OnInitAsync()
    {
        showDates = await Http.GetJsonAsync<ShowDate[]>("sample-data/recommended-shows.json");
    }

    class ShowDate
    {
        public DateTime Date { get; set; }

        public Show[] Shows;
    }

    class Show
    {
        public string Venue { get; set; }

        public Artist[] Artists;
    }

    class Artist
    {
        public string Name { get; set; }
    }
}
